body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    background-color: #220ddc;
    color: #f1d711;
}
#aguanteboquita{
  background-color: #f0ca0d; 
  color: rgb(51, 6, 230);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}
#cuenta-regresiva {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  color: #0074D9; /* Azul relacionado con Boca */
  text-align: center;
  margin: 20px 0;
}

#cuenta-regresiva span {
  font-weight: bold;
  color: #FFDC00; /* Amarillo relacionado con Boca */
}


